@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #fcf9ef;
  --color-secondary: #fcfaf0;
  --color-text-primary: #07150a;
  --color-text-secondary: #904d00;
  /* fonts */
  --font-Newsreader: "Newsreader", sans-serif;
  --font-Jakarta: "Plus Jakarta Sans", serif;
}
